.cardContainer {
  width: 300px;
  height: 350px;
  border: 1px solid rgba(215, 215, 215, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 5px 5px 15px 5px #000000;
  flex-wrap: wrap;
  margin: 20px;
  border-radius: 5px;
}

.cardContainer:hover {
  border: 1px solid rgba(215, 215, 215, 0.4);
}
