body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #121212;
  
}
.dark-mode{
   color: #d7d7d7;
  background-color: #121212;
  transition: 0.3s;
}
a {
  color: #d7d7d7;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body::-webkit-scrollbar {
  width: 0.6em;
  background: #121212;
}
body::-webkit-scrollbar-thumb {
  /* background: #2ba5c0; */
  background: #c0c7c8;
  border-radius: 1px;
}

/* body::-webkit-scrollbar-track-piece {
  display: none;
} */




:root {
  --background: white;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  transition: 0.3s;
}
[data-theme='dark'] {
  --background: #121212;;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
}


.App {
  color: var(--text-primary);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: calc(100vh - 40px);
  transition: all .5s;
}
button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}