.sidebar-container {
  border: 1px solid white;
  height: 100%;
  width: 250px;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.bottom-nav {
  position: absolute;
  bottom: 100px;
}

.empty-space {
  flex: 1 1 0%;
}
