.scroll-up-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 20px;
  background-color: rgb(44, 44, 44);
  cursor: pointer;
  transition: 0.1s;
  border-radius: 5px;
}
.scroll-up-btn:hover {
  background-color: rgb(26, 26, 26);
}
.removeBtn {
  display: none;
  transition: 0.9s;
}


@keyframes spin {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}   /* To make this thing go faster, change the turn amount (above) or change the millisecond amount (below)*/
#loader-spinner {
  animation: spin 1000ms;
  animation-iteration-count: infinite;
}

#loader-posts{
  animation: spin 1000ms;
  animation-iteration-count: infinite;
  position: fixed;
    bottom: 0;

    margin: 0 auto;

    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 109px;
}
